body{
    background-color: lightblue;
  }
  .sawirka{
    background-color: lightblue;
    position: absolute;
    left: 300px;

  }
  .h21{
    text-decoration: underline green;
  }
  .h21{
    border:blue solid 2px;
  }
  .h22{
    border:blue solid 2px;

  }

}
div{
  background-color: yellow;

}
.div2{
  background-color: lightblue;
  position: absolute;
  top:500px;
  left:300px;
  right: 200px;

}
  h2{
    color:red;
  }
.eidle{
  text-align: center;
}
a:hover{
  color: green;
}




</style>
